form {
    --form-gap: 1rem;
    .form-input-group{
        display:flex;
        gap: var(--form-gap);

        .form-input{
            &.field-wide{
                flex-grow: 1;
            }
        }
    }
    label {
        color: blue;
        display: block
    }

}