@import "../theme/vars";

form {
    --form-gap: 1rem;

    .form-input-group {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: var(--form-gap);
    }


    & label {
        display: block;
        font-size: smaller;
        text-transform: uppercase;
        color: var(--color-nav-back);
    }

}

@media (min-width: $breakpoint-desktop) {
    form {
        .form-input-group {
            flex-direction: row;

            .form-input {
                flex: 1;

                &.field-wide {
                    flex: 3;
                }
            }
        }
    }
}