:root {
    --grid-gap: 1rem;
    --header-padding: 1.5rem var(--grid-gap) ;
}



.App {
  display: grid;
  grid-template-columns: 10ch 1fr;
  column-gap: 0;
  grid-template-areas:
    "nav pagehead"
    "nav  main"
    "foot  foot";
}

.App>.sidebar {
  grid-area: nav;
}

#page-main {
position: relative;
    &>header {
        grid-area: pagehead;
        display: flex;
        justify-content: space-between;
        background-color: var(--color-content-bg-light);
        padding: var(--header-padding);
    }
    & > div {
        grid-area: main;
        margin-top: var(--grid-gap); /* since we don't use gap on grid */
        padding-right: var(--grid-gap);
        padding-left: var(--grid-gap);
       // width:min(80ch, 100% );

    }

}




.focus-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-height: 100svh;
    &.with-background {
        background-image: url('../../public/images/background-splash.jpg');
        background-size: cover;
        background-repeat: no-repeat;

    }
}





